/* .App {
  text-align: center;
  background-color: white;
  height: 100vh;
  overflow: hidden;
} */

.App {
  height: 100vh;
  overflow: hidden;
  text-align: center;
  background: linear-gradient(311deg, #6c2274, #9f2369, #4f29ae, #a52232);
  background-size: 800% 800%;

  -webkit-animation: AnimationName 30s ease infinite;
  -moz-animation: AnimationName 30s ease infinite;
  animation: AnimationName 30s ease infinite;
}

.main-container {
  position: relative;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  overflow: hidden;
  /* background-color: black; */
  height: 55vh;
  width: 75vw;

  background: rgba(25, 25, 25, 0.7);
  box-shadow: 0 8px 32px 0 rgba(31, 38, 135, 0.37);
  backdrop-filter: blur(10px);
  -webkit-backdrop-filter: blur(10px);
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
}

.title {
  color: white;
}

.main-content {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  flex-direction: row;
  height: 40vh;
  width: 70vw;
}

.input-group {
  /* display: flex;
  align-items: center; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 0.5fr 0.5fr 0.5fr;
  grid-column-gap: 3rem;
  height: 100%;
}

.input-header {
  /* float: left; */
  margin: 0px;
  padding-bottom: 0.3rem;
  color: white;
  font-weight: normal;
  font-family: "Spartan", sans-serif;
  font-size: 14px;
  letter-spacing: 0.5px;
}

.input-field {
  height: 2rem;
  color: white;
  background: rgba(15, 15, 15, 0.35);
  box-shadow: 0 2px 8px 0 rgba(31, 38, 135, 0.37);
  /* backdrop-filter: blur(10px); */
  /* -webkit-backdrop-filter: blur(10px); */
  border-radius: 10px;
  border: 1px solid rgba(255, 255, 255, 0.18);
  margin-bottom: 1rem;
}

.img-group {
  height: fit-content;
  margin-bottom: 2rem;
}

/* .first-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
}

.second-row {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
} */

.btn {
  display: block;
  /* width: 100%; */
  padding: 0.5rem 1rem;
  height: 2rem;
  color: white;
  background-color: #6c2274;
  border: none;
  border-radius: 10px;
  font-size: 14px;
  font-weight: 600;
  letter-spacing: 0.5px;
  font-family: "Spartan", sans-serif;
  cursor: pointer;
}

.submit-btn {
  grid-column-start: 2;
  margin: 0.5rem 0;
}

.mint-btn {
  position: absolute;
  /* right: 100%; */
  display: block;
  float: left;
  height: auto;
}

.lds-ellipsis {
  grid-column-start: 2;
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

@media screen and (max-width: 640px) {
  .main-container {
    height: 90vh;
    overflow-y: scroll;
  }

  .main-content {
    flex-direction: column;
    height: auto;
    /* overflow-y: scroll; */
    width: auto;
    overflow-x: hidden;
  }

  .input-group {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
}

@media screen and (min-width: 641px) and (max-width: 1007px) {
  .main-container {
    height: auto;
  }
  .main-content {
    flex-direction: column;
    height: auto;
    /* overflow-y: scroll; */
    width: auto;
  }

  .submit-btn {
    grid-column: span 2;
    margin: 0rem 4rem;
  }
}
